@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Indie+Flower&family=Lobster&family=Lobster+Two&family=Maven+Pro:wght@400;500&family=Quicksand:wght@400;700&family=Roboto:wght@100;400&family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Indie+Flower&family=Lobster&family=Lobster+Two&family=Maven+Pro:wght@400;500&family=Monoton&family=Quicksand:wght@400;700&family=Roboto:wght@100;400&family=Rubik+Dirt&display=swap");
* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

#bgBody {
  background-image: url("../img/fondoand.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

p {
  font-family: 'roboto';
  text-align: center;
  color: white;
  font-size: 1.9rem; }

a {
  text-decoration: none; }

h1 {
  font-family: 'roboto';
  text-align: center;
  margin-bottom: 35px; }

.brilloDoc {
  height: 100vh;
  width: 98vw; }

#navMenu {
  height: 190px;
  display: grid;
  align-items: flex-end;
  bottom: 10px;
  position: absolute;
  width: 100%; }

nav {
  padding-right: 3px;
  padding-left: 3px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  position: absolute;
  width: 100%; }
  nav img {
    width: 45px; }

.alturaDiv {
  height: 95vh; }
  .alturaDiv img {
    max-height: 55px;
    padding-top: 30px; }

.relojDiv {
  display: flex;
  justify-content: center; }
  .relojDiv p {
    color: black;
    font-weight: bold; }
  .relojDiv img {
    width: 55px;
    padding-top: 30px; }

.borderTable {
  width: 100%;
  height: 100vh; }

main a {
  font-family: 'roboto';
  color: black;
  cursor: pointer;
  width: 100%;
  height: 40px; }

main tr {
  max-height: 20em; }

main td {
  font-family: 'roboto';
  text-align: end;
  padding-right: 20px;
  border-radius: 1.3rem;
  height: 45px;
  align-items: center;
  display: flex;
  justify-content: space-between; }

main img {
  display: flex;
  justify-content: start; }

.navButtons {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  width: 100%; }
  .navButtons img {
    width: 22px; }

.sticky {
  z-index: 3;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 3px; }

header {
  display: flex;
  justify-content: end;
  z-index: 1000; }
  header img {
    z-index: inherit;
    width: 1.3rem;
    height: 1.3rem; }

.headerClock {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 10px;
  max-height: 1.6rem;
  margin-bottom: 20px;
  position: relative; }
  .headerClock p {
    color: black;
    font-family: 'roboto';
    font-size: 1em;
    display: block;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold; }

.googleW {
  width: 90%;
  height: 35px;
  border-radius: 1.7rem;
  background-color: rgba(255, 255, 255, 0.308);
  align-items: center;
  display: flex;
  margin-left: 5%; }
  .googleW img {
    max-height: 30px;
    padding-top: 3px;
    padding-left: 3px; }

.alturaGen {
  height: 50%; }

input {
  width: 95%;
  border-style: solid;
  border-width: 1px;
  border-radius: 1.5rem;
  margin-bottom: 35px;
  margin-top: 20px;
  font-family: 'roboto';
  color: black;
  cursor: pointer;
  padding-bottom: 3px;
  padding-top: 3px; }
  input text {
    padding-left: 4px; }

.menuGaleria {
  display: grid;
  width: 100%;
  display: flex;
  justify-content: center; }
  .menuGaleria p {
    color: black;
    margin: 20px; }

.container {
  display: flex; }

.imgFotos {
  float: left;
  display: flex;
  justify-content: start;
  width: 40%;
  flex-wrap: wrap;
  align-items: center; }
  .imgFotos img {
    width: 100px;
    height: auto; }

.imgFotos2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }
  .imgFotos2 p {
    color: black;
    font-size: 1rem; }
  .imgFotos2 img {
    width: 40px; }
  .imgFotos2 a {
    font-family: 'roboto';
    text-align: center;
    float: bottom;
    vertical-align: middle; }

.contImg {
  max-width: 80%; }

.ulDiv {
  display: list-item; }

ol {
  height: 90vh;
  font-family: 'maven pro'; }
  ol p {
    border-radius: 2rem;
    width: 40px;
    padding-bottom: 5px;
    background-color: green; }
  ol li {
    list-style: none;
    display: list-item;
    text-align: left; }

.apps {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .apps a img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40px; }

.div {
  display: flex; }

.contFlex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 50%; }

.tecladoDiv {
  display: flex;
  flex-wrap: wrap;
  max-height: 50vh;
  min-width: 220px; }

.tecla {
  width: 25px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1.7rem;
  margin: 10px;
  padding: 5px;
  justify-content: center; }
  .tecla p {
    font-size: 1rem; }

.tecla:hover {
  background-color: green; }

.containBtn {
  height: 30px;
  margin-left: 30%;
  padding-bottom: 30px; }

button {
  margin-bottom: 5px;
  margin-left: 30%; }
  button img {
    width: 30px; }

.espacio {
  height: 80vh; }

.row1 {
  margin: 0 auto;
  width: 280px;
  clear: both;
  text-align: center;
  font-family: 'Roboto'; }

.row2 {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly; }
  .row2 a {
    display: flex;
    flex-direction: column;
    padding-left: 2px;
    text-align: center;
    margin-top: 3px;
    font-family: 'maven pro';
    font-size: 0.7rem;
    font-weight: bold; }

.digit,
.dig {
  float: left;
  padding: 10px 30px;
  width: 30px;
  font-size: 2rem;
  cursor: pointer; }

.sub {
  font-size: 0.8rem;
  color: grey; }

.container {
  background-color: white;
  width: 320px;
  padding: 20px;
  margin: 30px auto;
  height: 420px;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

#output {
  font-family: "roboto";
  font-size: 2rem;
  height: 60px;
  font-weight: bold;
  color: #003f7eea; }

#call {
  display: inline-block;
  background-color: #66bb6a;
  padding: 4px 30px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer; }

.botrow {
  margin: 0 auto;
  width: 280px;
  clear: both;
  text-align: center;
  font-family: 'roboto'; }

.digit:active,
.dig:active {
  background-color: #6ddbdb;
  padding: 1px;
  border-radius: 3rem; }

#call:hover {
  background-color: #3fafaf;
  border-radius: 1.7rem; }

.dig {
  float: left;
  padding: 10px 20px;
  margin: 10px;
  width: 30px;
  cursor: pointer; }

.offcanvas {
  height: 70vh;
  position: fixed;
  bottom: 0;
  z-index: 1050;
  display: flex;
  /* flex-direction: column; */
  max-width: 100%;
  margin-left: 20px;
  visibility: hidden;
  background-color: #e2fff6;
  border-radius: 1.6rem;
  margin-right: 20px;
  /* background-clip: padding-box; */
  /* outline: 0; */
  transition: transform .3s ease-in-out; }

.digit,
.dig {
  font-family: 'roboto';
  float: left;
  padding: 1px 30px;
  width: 30px;
  font-size: 2rem;
  cursor: pointer; }

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: 30px;
  margin-bottom: 15px; }

.imgSize {
  width: 45px;
  margin-left: 50%; }

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #24c7b9;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #056d70;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-left: 40%; }

.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem 1rem; }

#telefono {
  display: flex;
  justify-content: center;
  margin-right: 120px; }

.dropdown {
  overflow: hidden;
  width: 100%;
  height: 85px;
  display: inline-block; }

.dropdown-content {
  display: none;
  min-width: 100%;
  z-index: 13; }

.dropdown-content {
  z-index: 132878;
  width: auto;
  padding: 12px 16px;
  position: absolute; }
  .dropdown-content a {
    color: black; }
  .dropdown-content img {
    margin-top: 60px;
    width: 40px; }

.dropdown:hover
.dropdown-content {
  display: flex;
  width: 40px;
  display: inline;
  color: black; }

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: transparent;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
  height: 350px;
  width: 90%; }

.dropdown:hover .dropbtn {
  position: fixed;
  background-color: white;
  width: 98%;
  display: flex;
  justify-content: center;
  border-radius: 1.3rem;
  height: 350px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #ffffff; }

.fastNav {
  max-width: 100%;
  display: flex;
  justify-content: center;
  max-height: 1px; }

.container2 {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 32323; }
  .container2 .brightness-box img {
    max-width: 25px;
    margin-bottom: 77px; }

.brightness-box {
  width: 400px;
  height: 50px;
  background: transparent;
  border-radius: 8px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.brightness-box i {
  margin: 0 10px; }

#range {
  width: 100%;
  -webkit-appearance: none;
  background: #7baee0;
  height: 3px;
  outline: none;
  border-style: none; }

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 22px;
  height: 12px;
  background: #0c3b61;
  border-radius: 70%;
  cursor: pointer; }

.slider-checkbox {
  position: relative; }
  .slider-checkbox input {
    margin-top: 1px;
    cursor: pointer;
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 20px; }
    .slider-checkbox input:checked + .label:before {
      background-color: #61bbff;
      content: "";
      padding-left: 6px; }
    .slider-checkbox input:checked + .label:after {
      left: 21px; }
  .slider-checkbox .label {
    position: relative;
    padding-left: 46px;
    margin-left: 10px; }
    .slider-checkbox .label:before, .slider-checkbox .label:after {
      position: absolute;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      transition: background-color 0.3s, left 0.3s; }
    .slider-checkbox .label:before {
      content: "";
      color: #1a3f5e;
      box-sizing: border-box;
      background-color: #888;
      left: 0px;
      top: 0px;
      height: 20px;
      width: 40px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px; }
    .slider-checkbox .label:after {
      content: "";
      letter-spacing: 20px;
      background: #1a3f5e;
      left: 1px;
      top: 1px;
      height: 18px;
      width: 18px; }

.alturaDatos {
  height: 56vh; }

section {
  font-family: 'roboto';
  font-size: 1rem;
  font-weight: bold;
  text-align: start; }

.contSlide {
  display: flex;
  justify-content: center;
  width: 100%; }
  .contSlide hr {
    margin-bottom: 4px;
    border-width: 1px;
    border-style: solid; }

.contSlide2 {
  padding-bottom: 20px;
  display: flex;
  justify-content: start; }
  .contSlide2 a {
    color: black;
    margin-top: 10px; }
  .contSlide2 img {
    width: 20px;
    margin-left: 120px; }

#btnUnlock {
  background-color: transparent;
  border-style: none;
  min-height: 100vh;
  width: 45vw;
  align-items: center; }
  #btnUnlock button {
    margin: 5px; }

.relojDiv2 {
  display: inline-block;
  justify-content: center; }
  .relojDiv2 p {
    color: black;
    font-weight: bold;
    font-size: 1.8rem; }
  .relojDiv2 img {
    width: 85px;
    padding-top: 30px; }

.swipeTo {
  margin-top: 180px;
  width: 90%; }
  .swipeTo p {
    margin-left: 18px;
    font-size: 1.4rem;
    font-family: 'maven pro';
    color: black;
    font-weight: bold; }

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in infinite both;
  animation: heartbeat 1.5s ease-in infinite both; }

/* ----------------------------------------------
 * Generated by Animista on 2022-8-22 14:28:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

.contactos {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 80px;
  border-radius: 1.6rem;
  background-color: #7bade085;
  margin-bottom: 30px;
  align-items: center; }

.sticky2 {
  z-index: 3;
  position: fixed;
  bottom: 40px;
  margin-left: 10%; }
  .sticky2 img {
    width: 40px; }

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1; }

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none; }

/* Set a style for all buttons */
button {
  border-style: none;
  background-color: transparent;
  margin-left: 0; }

button:hover {
  opacity: 8; }

.container3 {
  padding: 10px;
  border-radius: 1.7rem;
  max-width: 100%; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(3px);
  margin-bottom: 100px; }

.modal-content {
  background-color: #5cf34ea4;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  width: 50%;
  border-radius: 1.7rem;
  margin-bottom: 200px; }
  .modal-content b {
    font-family: 'maven pro';
    padding: 0px 10px; }

.clearfix {
  display: flex;
  justify-content: space-around;
  margin-left: 20px; }

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1; }

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer; }

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%; } }
