@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Indie+Flower&family=Lobster&family=Lobster+Two&family=Maven+Pro:wght@400;500&family=Quicksand:wght@400;700&family=Roboto:wght@100;400&family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Indie+Flower&family=Lobster&family=Lobster+Two&family=Maven+Pro:wght@400;500&family=Monoton&family=Quicksand:wght@400;700&family=Roboto:wght@100;400&family=Rubik+Dirt&display=swap");
html{
  margin: 3px;
}
#bgBody {
  background-image: url("../img/fondoand.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

p {
  font-family: 'roboto';
  text-align: center;
  color: white;
  font-size: 1.9rem; }

a {
  text-decoration: none; }

h1 {
  font-family: 'roboto';
  text-align: center;
  margin-bottom: 35px; }

nav {
  height: 50px;
  padding-right: 3px;
  padding-left: 3px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-around;
  margin-bottom: 50px;
  z-index: 2; }
  img {
    width: 35px; 
  padding-bottom: 12px;
  }

.alturaDiv {
  max-height: 120vh; }
  .alturaDiv 
  img {
    width: 50px;
    padding-top: 27px; 
    margin-right: 5px;}

.relojDiv {
  display: flex;
  justify-content: center; }

.borderTable {
  width: 100%;
  height: 100vh; }

main tr {
  max-height: 20em; }

main td {
  font-family: 'roboto';
  text-align: end;
  padding-right: 20px;
  border-radius: 1.3rem;
  height: 45px;
  align-items: center;
  display: flex;
  justify-content: space-between; }

main img {
  display: flex;
  justify-content: start; }

.navButtons {
  display: flex;
  justify-content: space-between;
  overflow: hidden; }
  .navButtons img {
    width: 22px; }

.sticky {
  z-index: 6;
  position: fixed;
  bottom: 0;
  width: 70%;
  margin-bottom: 12px; 
  margin-left: 16%;

}

header {
  display: flex;
  justify-content: end; }
  header img {
    height: 18px; 
  width: 20px;}

.headerClock {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  padding-bottom: 10px;
  max-height: 1rem;
  margin-bottom: 20px;
  position: relative; }
  .headerClock p {
    color: black;
    font-family: 'roboto';
    font-size: 0.8em;
    display: block;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold; }

.googleW {
  width: 90%;
  height: 35px;
  border-radius: 1.7rem;
  background-color: rgba(255, 255, 255, 0.308);
  align-items: center;
  display: flex;
  margin-left: 5%; 
  margin-bottom: 60px;
}
  
  .googleW img {
    width: 30px;
    padding-bottom: 20px;
    padding-left: 3px; }

.alturaGen {
  height: 62vh; }

input {
  height: 25px;
  width: 95%;
  border-style: solid;
  border-width: 1px;
  border-radius: 1.5rem;
  margin-bottom: 35px;
  margin-top: 20px;
  font-family: 'roboto';
  color: black;
  cursor: pointer;
  padding-bottom: 3px;
  padding-top: 3px; }
  input text {
    padding-left: 4px; }

.menuGaleria {
  display: grid;
  width: 100%;
  display: flex;
  justify-content: center; }
  .menuGaleria p {
    color: black;
    margin: 20px; }

.container {
  display: flex; }

.imgFotos {
  float: left;
  display: flex;
  justify-content: start;
  width: 50%;
  flex-wrap: wrap;
  align-items: center; }
  .imgFotos img {
    width: 100px;
    height: auto; }

.imgFotos2 {
  float: right;
  display: flex;
  justify-content: end;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: flex-start; }
  .imgFotos2 p {
    color: black;
    font-size: 1rem; }
  .imgFotos2 img {
    width: 40px; }
  .imgFotos2 a {
    font-family: 'roboto';
    text-align: center;
    float: bottom;
    vertical-align: middle; }

.espacio {
  margin-bottom: 50vh; }

.ulDiv {
  display: list-item; }

ol {
  height: 90vh;
  font-family: 'maven pro'; }
  ol p {
    border-radius: 2rem;
    width: 40px;
    padding-bottom: 5px;
    background-color: rgb(0, 98, 128); }
  
  
    ol li {
    list-style: none;
    display: list-item;
    text-align: left; }

.flexDiv {
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.tecladoDiv {
  display: flex;
  flex-wrap: wrap;
  max-height: 50vh;
  min-width: 220px; }

.tecla {
  width: 25px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1.7rem;
  margin: 10px;
  padding: 5px;
  justify-content: center; }
  .tecla p {
    font-size: 1rem; }

.tecla:hover {
  background-color: green; }

.containBtn {
  height: 90vh;
  margin-left: 2px;
  padding-bottom: 30px; }

button img {
  width: 30px; }

.row {
  margin: 0 auto;
  width: 280px;
  clear: both;
  text-align: center;
  font-family: 'Exo'; }

.digit,
.dig {
  float: left;
  padding: 10px 30px;
  width: 30px;
  font-size: 2rem;
  cursor: pointer; }

.sub {
  font-size: 0.8rem;
  color: grey; }

.container {
  background-color: white;
  width: 320px;
  padding: 20px;
  margin: 30px auto;
  height: 420px;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); 
  border-radius: 1.3rem;
}
  
#output {
  font-family: "Exo";
  font-size: 2rem;
  height: 60px;
  font-weight: bold;
  color: #1976d2; }

#call {
  display: inline-block;
  background-color: #66bb6a;
  padding: 4px 30px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  float: left;
  cursor: pointer; }

.botrow {
  margin: 0 auto;
  width: 280px;
  clear: both;
  text-align: center;
  font-family: 'Exo'; }

.digit:active,
.dig:active {
  background-color: #e6e6e6; }

#call:hover {
  background-color: #81c784; }

.dig {
  float: left;
  padding: 10px 20px;
  margin: 10px;
  width: 30px;
  cursor: pointer; }
  .offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: rgb(204, 245, 245);
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
    min-height: 70vh;
    overflow-y: none;
    margin-bottom: 50px;
    border-radius: 1.5rem;
    
  }
.offcanvas-body {
  flex-grow: 1;
  padding: 1rem 1rem;
 overflow-y: none;
 
}
.digit{
  font-family: 'roboto';
  margin-left: 10px;
}
#telefono{
  display: flex;
  justify-content: center;
  margin-right: 20px;

}
  .imgSize{
    margin-top: 10px;
    width: 70px;
    padding-left: 5px;
    
  }
  .digit, .dig {
    float: left;
    padding: 1px 35px;
    width: 30px;
    font-size: 2rem;
    cursor: pointer;
    
}



