
nav{
    padding-right: 3px;
    padding-left: 3px;
    background-color: rgba(163, 218, 218, 0.212);
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content:space-around;
    border-radius: $borderRad;
img{
    max-height: 40px;
}
}
.alturaDiv{
    min-height:100vh;
    img{
        max-height: 55px;
        padding-top: 22px;
    }
}
.relojDiv{
    display: flex;
    justify-content: center;
}
.borderTable{
   width: 100%;
    min-height: 100vh;
    
}
main{
    td{
        font-family: 'roboto';
        border-style: solid;
        border-width: 1px;
        text-align: end;
        padding-right: 20px;
        border-radius: $borderRad;
        height: 50px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    img{
       display: flex;
       justify-content: star;
    }
}
.navButtons{
    display: flex;
    justify-content: space-around;
    img{
        width: 25px;
    }
}
header{
    display: flex;
    justify-content: end;
    img{
        width: 18px;
    }
}
.googleW{
    width: 90%;
    height: 30px;
    border-radius: 1.7rem;
    background-color: rgba(255, 255, 255, 0.308);
    align-items: center;
    display: flex;
    margin-left: 5%;
 img{
    max-height: 30px;
    padding-bottom: 20px;
 }
}
.alturaGen{
    height: 60vh;
}