
nav{
    padding-right: 3px;
    padding-left: 3px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content:space-around;
    margin-top: 45px;
    z-index: 2;
    img{
    max-height: 40px;
}
}
.alturaDiv{
    height:94vh;
    img{
        max-height: 55px;
        padding-top: 30px;
    }
}
.relojDiv{
    display: flex;
    justify-content: center;
    p{
        color: black;
        font-weight: bold;
    }
}
.borderTable{
   width: 100%;
    height: 100vh;
    
}
main{
    tr{
        max-height: 20em;
    }
    td{
        font-family: 'roboto';
        text-align: end;
        padding-right: 20px;
        border-radius: $borderRad;
        height: 45px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    img{
       display: flex;
       justify-content: start;
    }
}
.navButtons{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    
    img{
        width: 22px;
    }
}
.sticky {
    z-index: 3;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 3px;
  }
header{
    display: flex;
    justify-content: end;
    img{
        width: 1.3rem;
        height: 1.3rem;
    }
  
}
.headerClock{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    padding-bottom: 10px;
    max-height: 1.6rem;
    margin-bottom: 20px;
    position: relative;
    p{
        color: black;
        font-family: 'roboto';
        font-size: 1em;
        display: block;
        margin-block-start: 0.1em;
        margin-block-end: 0.1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
     
    }

}

.googleW{
    width: 90%;
    height: 35px;
    border-radius: 1.7rem;
    background-color: rgba(255, 255, 255, 0.308);
    align-items: center;
    display: flex;
    margin-left: 5%;

    img{
    max-height: 30px;
    padding-bottom: 20px;
    padding-left: 3px;
}
}
.alturaGen{
    height: 60vh;
}
input{
    height: 25px;
    width: 95%;
    border-style: solid;
    border-width: 1px;
    border-radius: 1.5rem;
    margin-bottom: 35px;
    margin-top: 20px;
        font-family: 'roboto';
        color: black;
        cursor: pointer;
        padding-bottom: 3px;
        padding-top: 3px;
        text{
            padding-left: 4px;
        }
}
.menuGaleria{
    display: grid;
    width: 100%;
    display: flex;
    justify-content: center;
    
    p{
        color:black;
        margin: 20px;
    }
}
.container{
    display: flex;

}
.imgFotos{
   float: left;
    display: flex;
   justify-content: start;
   width: 50%;
   flex-wrap: wrap;
   align-items: center;
   img{
    width: 100px;
    height: auto;
}
}
.imgFotos2{
    float: right;
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
    p{
        color: black;
        font-size: 1rem;
    }
    img{
        width: 40px;
        
    }
    a{
        font-family: 'roboto';
        text-align: center;
        float: bottom;
        vertical-align: middle;
    }
   
}
.espacio{
    margin-bottom: 50vh;
}  
.ulDiv{
    display: list-item;
}
ol{
    height: 90vh;
    font-family: 'maven pro';
    p {
        border-radius: 2rem;
        width: 40px;
        padding-bottom: 5px;
        background-color: green;
    }

    li{
       list-style: none;
       display: list-item;
       text-align: left;
        
    }
       
    }
    
    
      .flexDiv{
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }
      .tecladoDiv{
        display: flex;
        flex-wrap: wrap;
        max-height: 50vh;
        min-width: 220px;
    }
      .tecla{
        p{
            font-size: 1rem;
        }
        width: 25px;
        border-style: solid;
        border-width: 1px;
        border-radius: 1.7rem;
        margin: 10px;
        padding: 5px;
        justify-content: center;
    }
    .tecla:hover{
        background-color: green;
    }
    //telefono
    
    .containBtn{
        height: 90vh;
        margin-left: 2px ;
        padding-bottom: 30px;
    }
    button{
        margin-bottom: 5px;
        img{
            width: 30px;
        }
    }



    .row {
        margin: 0 auto;
        width: 280px;
        clear: both;
        text-align: center;
        font-family: 'Exo';
      }
      
      .digit,
      .dig {
        float: left;
        padding: 10px 30px;
        width: 30px;
        font-size: 2rem;
        cursor: pointer;
      }
      
      .sub {
        font-size: 0.8rem;
        color: grey;
      }
      
      .container {
        background-color: white;
        width: 320px;
        padding: 20px;
        margin: 30px auto;
        height: 420px;
        text-align: center;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      }
      
      #output {
        font-family: "Exo";
        font-size: 2rem;
        height: 60px;
        font-weight: bold;
        color: #1976d2;
      }
      
      #call {
        display: inline-block;
        background-color: #66bb6a;
        padding: 4px 30px;
        margin: 10px;
        color: white;
        border-radius: 4px;
        cursor: pointer;
      }
      
      .botrow {
        margin: 0 auto;
        width: 280px;
        clear: both;
        text-align: center;
        font-family: 'Exo';
      }
      
      .digit:active,
      .dig:active {
        background-color: #e6e6e6;
      }
      
      #call:hover {
        background-color: #81c784;
      }
      
      .dig {
        
        float: left;
        padding: 10px 20px;
        margin: 10px;
        width: 30px;
        cursor: pointer;
      }
      .offcanvas {
        height: 70vh;
        position: fixed;
        bottom: 0;
        z-index: 1050;
        display: flex;
        /* flex-direction: column; */
        max-width: 100%;
        margin-left: 20px;
        visibility: hidden;
        background-color: rgb(226, 255, 246);
        border-radius: 1.6rem;
        margin-right: 20px;
        /* background-clip: padding-box; */
        /* outline: 0; */
        transition: transform .3s ease-in-out;}
        .digit, .dig {
            font-family: 'roboto';
            float: left;
            padding: 1px 30px;
            width: 30px;
            font-size: 2rem;
            cursor: pointer;
        }
        .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            width: 100%;
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            margin-right: auto;
            margin-left: 30px;
            margin-bottom: 15px;
        }
        .imgSize{
            width: 45px;
            margin-left: 28%;
        }