$borderRad:1.3rem;
$primaryColor:rgba(109, 54, 18, 0.466);
$secondaryColor: rgb(107, 68, 10);
$navColor:rgba(214, 142, 33, 0.507);
$thirdColor: rgb(163, 172, 42);
$shadow: 5px 10px 10px rgb(129, 73, 48);
$shadowTitulo:5px 10px 10px rgba(183, 202, 75, 0.774);
$shadowNav:5px 10px 10px rgba(141, 98, 17, 0.829);
// fonts
$maven: 'maven pro';
$roboto:'roboto';
$mono:'monoton';
$offcanvas-vertical-height:50vh;
//
 
    
