<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Contacts</title>
</head>
<body>
    <div class="brilloDoc">
    <div class="fastNav">
        <div class="dropdown">
            <button class="dropbtn">
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <div class="row2">
                    <a href=""><img src="../icons/signal3.png" alt="">Señal</a>
                    <a href=""><img src="../icons/qr.png" alt="">Scan</a>
                    <a href=""><img src="../icons/bluet.png" alt="">Bluetooth</a>
                    <a href=""><img src="../icons/wifi3.png" alt="">Wifi</a>
                </div>
                <div class="row2">
                    <a href=""><img src="../icons/orienta.png" alt="">Girar</a>
                    <a href=""><img src="../icons/mudo.png" alt="">Silenciar</a>
                    <a href=""><img src="../icons/cast.png" alt="">Emitir</a>
                    <a href=""><img src="../icons/brillo.png" alt="">Brillo</a>

                </div>
                <div class="container2">
                    <div class="brightness-box">
                        <i class="far fa-sun"></i>
                        <img src="../icons/brillo.png" alt=""> <input type="range" id="range" min="10" max="100"
                            value="100">
                        <i class="fas fa-sun"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <header>
        <div class="headerClock">
        <p>22:36</p>
    </div>
        <img src="../icons/signal.png" alt="">
        <img src="../icons/wifi.png" alt="">
        <img src="../icons/battery.png" alt="">
       </header>
       <div>
        <input type="text" placeholder="Search Contact" name="search" >
        <ol  class="ulDiv">
            <p>a</p>
         <li>Alberto  </li>   
       <li>Aleja</li>
    <li>Ariel</li>
    <li>Augusto</li>
      <p>b</p>
    <li>Bariloche hosp</li> 
        <p>c</p>
        <li>Casa</li>
        <li>casa ale</li>
        <li>Casa caracol</li>
        <p>d</p>
       <li>Daniel</li> 
        <li>Daniel Giglio</li>
      <li> Dario Hotel</li> 

</ol>
    </div>
    
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal"></span>
        <form class="modal-content" action="/action_page.php">
          <div class="container3">
        
            <label for="email"><b>Nombre</b></label>
            <input type="text" placeholder="nombre de contacto" >
      
            <label for="email"><b>Apellido</b></label>
            <input type="text" placeholder="apellido" >
      
            <label for="email"><b>Teléfono</b></label>
            <input type="text" placeholder="teléfono..." >
            
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="mail del contacto" >
            <div class="clearfix">
              <button type="button" onclick="document.getElementById('id01').style.display='none'"><img src="../icons/cancelar.png" alt=""></button>
              <button type="submit" ><img src="../icons/ok.png" alt=""></button>
            </div>
          </div>
        </form>
      </div>
    
    <div class="contactos sticky2" >
    <div class="navButtons">
        <button onclick="document.getElementById('id01').style.display='block'"><img src="../icons/agregar.png" alt=""></button> 
               <a href="javascript:history.back()"><img src="../icons/favorito.png" alt=""></a>
    </div>
</div>

       <div class="navButtons sticky">
        <a href=""><img src="../icons/circle.png" alt=""></a>
        <a href="../index2.html"><img src="../icons/square.png" alt=""></a>
        <a href="javascript:history.back()"><img src="../icons/back.png" alt=""></a>
    </div>
</div>
<script src="../contacts.js"></script>
<script src="../brillo.js"></script>
</body>
</html>