<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Contacts</title>
</head>
<body>
    <header>
        <div class="headerClock">
        <p>22:36</p>
    </div>
        <img src="../icons/signal.png" alt="">
        <img src="../icons/wifi.png" alt="">
        <img src="../icons/battery.png" alt="">
       </header>
       <div>
        <input type="text" placeholder="Search Contact" name="search" >
        <ol  class="ulDiv">
            <p>a</p>
         <li>Alberto  </li>   
       <li>Aleja</li>
    <li>Ariel</li>
    <li>Augusto</li>
      <p>b</p>
    <li>Bariloche hosp</li> 
        <p>c</p>
        <li>Casa</li>
        <li>casa ale</li>
        <li>Casa caracol</li>
        <p>d</p>
       <li>Daniel</li> 
        <li>Daniel Giglio</li>
      <li> Dario Hotel</li> 

</ol>
    </div>
       


       <div class="navButtons sticky">
        <a href=""><img src="../icons/circle.png" alt=""></a>
        <a href="../index.html"><img src="../icons/square.png" alt=""></a>
        <a href="javascript:history.back()"><img src="../icons/back.png" alt=""></a>
    </div>
    </body>
</html>