<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Galería</title>
</head>

<body>
 <div class="fastNav">
    <div class="dropdown">
        <button class="dropbtn">
            <i class="fa fa-caret-down"></i>
        </button>
  
 <div class="dropdown-content">     
    <img src="../icons/android.png" alt="">
    <img src="../icons/wifi.png" alt="">
    <img src="../icons/folder.png" alt="">
</div>
</div>
</div>
    <header>
        <div class="headerClock">
            <p>22:36</p>
        </div>
        
        <img src="../icons/signal.png" alt="">
        <img src="../icons/wifi.png" alt="">
        <img src="../icons/battery.png" alt="">
       
    </header>



    <div class="menuGaleria">
        <div>
            <a href="">
                <p>Fotos</p>
            </a>
        </div>
        <div>
            <a href="">
                <p>Albumes</p>
            </a>
        </div>
    </div>
    <div class="container-fluid contImg">
        <div class="imgFotos">
            <img src="../img/azucar.jpg" alt="">
            <img src="../img/bowl.jpg" alt="">
            <img src="../img/bata1.jpg" alt="">
            <img src="../img/maceta.jpg" alt="">
            <img src="../img/maceta2.jpg" alt="">
        </div>
        <div class="imgFotos2">
            <p>
                <a href=""><img src="../icons/folder.png" alt=""></a>Camara
            </p>
            <p>
                <a href=""><img src="../icons/folder.png" alt=""></a>Videos
            </p>

        </div>
    </div>


    <div class="navButtons sticky">
        <a href=""><img src="../icons/circle.png" alt=""></a>
        <a href="../index.html"><img src="../icons/square.png" alt=""></a>
        <a href="javascript:history.back()"><img src="../icons/back.png" alt=""></a>
    </div>

</body>

</html>