<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Settings</title>
</head>
<body>
    <header>
        <div class="headerClock">
        <p>22:36</p>
    </div>
        <img src="../icons/signal.png" alt="">
        <img src="../icons/wifi.png" alt="">
        <img src="../icons/battery.png" alt="">
       </header>
        <input type="text" placeholder="Search.." name="search" >

    
    <main>
        <table class="borderTable">
            <tr>
               <td>
                <img src="../icons/settings.png" alt=""> Configuración</td>
            
            </tr>
            <td>
              <img src="../icons/oriental.png" alt="">  Pantalla
            </td>
            <tr >
            <td>
             <img src="../icons/screen.png" alt="">   Pantalla de Bloqueo
            </td>
        </tr>
        <tr>
            <td>
           <img src="../icons/apps.png" alt="">  Aplicaciones
            </td>
        </tr> <tr>
            <td>
              <img src="../icons/security.png" alt="">  Seguridad
            </td>
        </tr> <tr>
            <td>
             <img src="../icons/huella.png" alt="">   Privacidad
            </td>
        </tr> <tr>
            <td>
              <img src="../icons/android.png" alt="">  Acerca del teléfono
            </td>
        </tr>        
    </table>
    <div class="navButtons">
        <a href=""><img src="../icons/circle.png" alt=""></a>
        <a href=""><img src="../icons/square.png" alt=""></a>
        <a href="../index.html"><img src="../icons/back.png" alt=""></a>
    </div>
</main>
</body>
</html>