<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Teléfono</title>
</head>
<body>
    <header>
        <div class="headerClock">
        <p>22:36</p>
    </div>
        <img src="../icons/signal.png" alt="">
        <img src="../icons/wifi.png" alt="">
        <img src="../icons/battery.png" alt="">
       </header>
       
<div class="alturaDiv flexDiv">
       
       <div id="myModal" class="modal">
       
         <!-- Modal content -->
         <div class="modal-content">
           <span class="close">&times;</span>
           <div class="tecladoDiv">
           <div class="tecla">
            <p>1</p>
           </div>
           <div class="tecla">
            <p>2</p>
           </div> <div class="tecla">
            <p>3</p>
           </div> <div class="tecla">
            <p>4</p>
           </div> <div class="tecla">
            <p>5</p>
           </div> <div class="tecla">
            <p>6</p>
           </div> <div class="tecla">
            <p>7</p>
           </div> <div class="tecla">
            <p>8</p>
           </div> <div class="tecla">
            <p>9</p>
           </div><div class="tecla">
            <p>#</p>
           </div> <div class="tecla">
            <p>0</p>
           </div>  <div class="tecla">
            <p>+</p>
           </div>
        
       </div> 
        </div>
       
       </div>
       <button id="myBtn"><img src="../icons/pad.png" alt=""></button>
    </div>






       <div class="navButtons sticky">
        <a href=""><img src="../icons/circle.png" alt=""></a>
        <a href=""><img src="../icons/square.png" alt=""></a>
        <a href="../index.html"><img src="../icons/back.png" alt=""></a>
    </div>
<script src="../telefono.js"></script>
    </body>
</html>